.help-list-container{
    margin-top: 8%;
}

.list-group-item.active {
    color:  inherit;
}


.text-item-container{
    padding: 3%;
}

.text{
color : #FFFFFF !important;
}

.txt-color{
    color: #333 !important;
}