<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row">
        <div class="col" class="mx-auto">
            <span class="float-left">
                <a class="navbar-brand" href="#">
                    <img src="assets/logo/logo-full.png" class="navbar-logo" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col-12" style="align-content: flex-start;">
                    <form>
                        <div class="row" style="align-content: center;">

                            <div class="col-sm-12 col-lg-1">
                                <a class="nav-link" routerLink="/personal-profile">
                                    <img src="assets/icons/person.svg" alt="">
                                </a>
                            </div>
                            <div class="col-sm-12 col-lg-1">
                                <a class="nav-link" routerLink="/car">
                                    <img src="assets/icons/cart.svg" alt="">
                                </a>
                            </div>

                            <div *ngIf="login==true" class="col-sm-12 col-lg-1">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="assets/icons/person.svg" alt="">
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#" routerLink="/personal-profile">Perfil</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" (click)="goHelpCenter()">Politicas</a>
                                            <a class="dropdown-item" href="#" routerLink="/login">Cerrar sesión</a>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="navbar-nav" style="width: 100%;">
                        <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/seller-dashboard">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/helpcenter">¿Necesitas ayuda?</a>
                        </li>

                        <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="goProfile()">Ver perfil</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Politicas</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
