<!-- <footer class="bg-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Brands</h2>
                    <ul>
                        <li><a href="">Adidas</a></li>
                        <li><a href="">Puma</a></li>
                        <li><a href="">Reebok</a></li>
                        <li><a href="">Nike</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Company</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Find a Store</a></li>
                        <li><a href="">Rules and Terms</a></li>
                        <li><a href="">Shmap</a></li>
                        <li><a href="">Career</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Help</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Money Refund</a></li>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Shipping Info</a></li>
                        <li><a href="">Open Dispute</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Account</h2>
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>
                        <li><a href="">Account Setting</a></li>
                        <li><a href="">My Orders</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Social</h2>
                    <ul>
                        <li><a href=""> <img src="assets/img/facebook.png"> Facebook</a></li>
                        <li><a href=""> <img src="assets/img/twitter.png">  Twitter</a></li>
                        <li><a href=""> <img src="assets/img/instagram.png">  Instagram</a></li>
                        <li><a href=""> <img src="assets/img/youtube.png">  YouTube</a></li>
                      
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one"> 
                    <p>@2019 Todos los derechos</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    info@correo.com
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    (4) 445-45 -45
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    Medellín - Colombia
                </div>
            </div>
        </div>
    </div>
</footer> -->



<footer class="footer_area">
    <div class="container">
        <div class="row">				
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Contactos</h4>
                    <ul>
                        <li>Geminis company 603-55-22 </li>
                        <li>(+12) 685 78 455 <br> Alejandra Gonzales - CEO </li>
                        <li>(+12) 685 78 455 <br> Dayana Arango - CIO </li>
                        <li>Gm@geminis.com</li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Información</h4>
                    <ul>
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Información de entrega</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Servicios</h4>
                    <ul>
                        <li><a href="#">Devoluciones</a></li>
                        <li><a href="#">Mapa del sitio</a></li>
                        <li><a href="#">Lista de deseos</a></li>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Historial de pedido</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->	
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Boletín</h4>
                    <div class="newsletter_form">
                        <p>Suscribase a nuestro boletín para <br> no perderse de nuevos productos y promociones</p>
                        <form method="post" class="form-inline">				
                            <input name="EMAIL" id="email" placeholder="Ingresa tu correo" class="form-control" type="email">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div> <!--  End Col -->
            
        </div>
    </div>


    <div class="ftr_btm_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ftr_social_icon">
                        <ul>
                            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <p class="copyright_text text-center" style="word-break: normal;">© 2020 Todos los derechos reservados Geminis</p>
                </div>
                
                <div class="col-sm-4">
                    <div class="payment_mthd_icon text-right">
                        <ul>
                            <li><i class="fa fa-cc-paypal"></i></li>
                            <li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-discover"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>