<!-- <footer class="bg-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Brands</h2>
                    <ul>
                        <li><a href="">Adidas</a></li>
                        <li><a href="">Puma</a></li>
                        <li><a href="">Reebok</a></li>
                        <li><a href="">Nike</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Company</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Find a Store</a></li>
                        <li><a href="">Rules and Terms</a></li>
                        <li><a href="">Shmap</a></li>
                        <li><a href="">Career</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Help</h2>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Money Refund</a></li>
                        <li><a href="">Order Status</a></li>
                        <li><a href="">Shipping Info</a></li>
                        <li><a href="">Open Dispute</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Account</h2>
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>
                        <li><a href="">Account Setting</a></li>
                        <li><a href="">My Orders</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 segment-one">
                    <h2>Social</h2>
                    <ul>
                        <li><a href=""> <img src="assets/img/facebook.png"> Facebook</a></li>
                        <li><a href=""> <img src="assets/img/twitter.png">  Twitter</a></li>
                        <li><a href=""> <img src="assets/img/instagram.png">  Instagram</a></li>
                        <li><a href=""> <img src="assets/img/youtube.png">  YouTube</a></li>
                      
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one"> 
                    <p>@2019 Todos los derechos</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    info@correo.com
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    (4) 445-45 -45
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    Medellín - Colombia
                </div>
            </div>
        </div>
    </div>
</footer> -->



<footer class="footer_area">
    <div class="container">
        <div class="row">				
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Contacts</h4>
                    <ul>
                        <li>4080 Repperts Coaol Road Sackson, MS 00201 USA</li>
                        <li>(+123) 685 78 455 <br> (+064) 336 987 245</li>
                        <li>Contact@yourcompany.com</li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Services</h4>
                    <ul>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                    </ul>
                </div>
            </div> <!--  End Col -->	
            
            <div class="col-md-3 col-sm-6">
                <div class="single_ftr">
                    <h4 class="sf_title">Newsletter</h4>
                    <div class="newsletter_form">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have </p>
                        <form method="post" class="form-inline">				
                            <input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control" type="email">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div> <!--  End Col -->
            
        </div>
    </div>


    <div class="ftr_btm_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ftr_social_icon">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="copyright_text text-center">© 2019 All Rights Reserved Bootstrap 4 footer</p>
                </div>
                
                <div class="col-sm-4">
                    <div class="payment_mthd_icon text-right">
                        <ul>
                            <li><i class="fa fa-cc-paypal"></i></li>
                            <li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-discover"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>