<!--<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/logo/logo-full.png" class="navbar-logo" alt="">
    </a>
            <div class="row">
            <div class="col-6">
                <input class="form-control" type="search" placeholder="Buscar"
                    aria-label="Search"></div>
            <div class="col-6">
                <button class="btn btn-primary" type="submit">Registrarme</button>
            </div>
        </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline">

        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item navbar-form">
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
-->
<!-- <nav class="navbar navbar-dark bd-dark navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo/logo-full.png" class="navbar-logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline navbar-form pull-right">
            <input class="form-control" type="search" placeholder="Buscar"
            aria-label="Search">
            <button class="btn btn-primary" type="submit">Registrarme</button>
            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
        </form>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row">
        <div class="col">
            <a class="navbar-brand" href="#">
                <img src="assets/logo/logo-full.png" class="navbar-logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <form>
                        <div class="row">
                            <div class="col-sm-12 col-lg-7 mt-2">
                                <input class="form-control" type="search" (keyup.enter)="searchProduct(productName.value)" #productName  placeholder="Buscar Producto">

                            </div>
                            <div class="col-sm-12 col-lg-1">
                                <a class="nav-link" routerLink="/car">
                                    <img src="assets/icons/cart.svg" alt="">
                                </a>
                            </div>
                            <div *ngIf="login==true" class="col-sm-12 col-lg-1">
                                <a class="nav-link" routerLink="/personal-profile">
                                    <img src="assets/icons/person.svg" alt="">
                                </a>
                            </div>
                            <div *ngIf="login==false" class="col-sm-6 col-lg-2 mt-2">
                                <a routerLink="/login" class="btn btn-outline-primary">Iniciar Session</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="navbar-nav" style="width: 100%;">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/product-like-form">{{navbar.home}}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{navbar.ropa.category}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.ropa.category,navbar.ropa.hombre]">{{navbar.ropa.hombre}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.ropa.category,navbar.ropa.mujer]">{{navbar.ropa.mujer}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.ropa.category,navbar.ropa.ninos]">{{navbar.ropa.ninos}}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{navbar.zapatosTenis.category}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.zapatosTenis.category,navbar.zapatosTenis.hombre]">{{navbar.zapatosTenis.hombre}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.zapatosTenis.category,navbar.zapatosTenis.mujer]">{{navbar.zapatosTenis.mujer}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.zapatosTenis.category,navbar.zapatosTenis.ninos]">{{navbar.zapatosTenis.ninos}}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{navbar.tecnologia.category}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.tecnologia.category,navbar.tecnologia.consola]">{{navbar.tecnologia.consola}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.tecnologia.category,navbar.tecnologia.gamesConsoles]">{{navbar.tecnologia.gamesConsoles}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.tecnologia.category,navbar.tecnologia.phones]">{{navbar.tecnologia.phones}}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{navbar.electrodomesticos.category}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.electrodomesticos.category,navbar.electrodomesticos.tv]">{{navbar.electrodomesticos.tv}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.electrodomesticos.category,navbar.electrodomesticos.lavadora]">{{navbar.electrodomesticos.lavadora}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.electrodomesticos.category,navbar.electrodomesticos.secadora]">{{navbar.electrodomesticos.secadora}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.electrodomesticos.category,navbar.electrodomesticos.nevera]">{{navbar.electrodomesticos.nevera}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.electrodomesticos.category,navbar.electrodomesticos.equipoSonido]">{{navbar.electrodomesticos.equipoSonido}}</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{navbar.muebles.category}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.muebles.category,navbar.muebles.sofa]">{{navbar.muebles.sofa}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.muebles.category,navbar.muebles.gameSalas]">{{navbar.muebles.gameSalas}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.muebles.category,navbar.muebles.comedor]">{{navbar.muebles.comedor}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.muebles.category,navbar.muebles.silla]">{{navbar.muebles.silla}}</a>
                                <a class="dropdown-item"
                                    [routerLink]="['/search',navbar.muebles.category,navbar.muebles.escritorio]">{{navbar.muebles.escritorio}}</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" routerLink="/helpcenter">¿Necesitas ayuda?</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="goLogin()">Iniciar sesión</a>
                    <a class="dropdown-item" (click)="goRegister()">Registrarme</a>
                    <a class="dropdown-item" (click)="goProfile()">Ver perfil</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Politicas</a>
                </div>
            </li>
        </ul>
    </div>
</nav>