<div class="m-5">
    <div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <h3>{{product.name}}</h3>
                <hr>
                <img [src]="product.image" width="370px">
                <button class="btn btn-outline-primary full-width m-2" routerLink="/dashboard">Atras</button>
            </div>
            <div class="col-md-8 col-xs-12">
                <h3>{{product.name}}</h3>
                <hr>
                <h4>Description</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem </p>
                <h4>Precio:</h4>
                <p>{{product.price}}</p>
                <div class="row">
                    <div class="col-6"><button class="btn btn-outline-primary full-width"
                            (click)="goBuy()">Compar</button></div>
                    <div class="col-6"><button class="btn btn-outline-primary full-width" (click)="goAddToCar()">Al
                            carrito</button></div>
                </div>

            </div>
        </div>
    </div>
</div>