<app-nav-seller></app-nav-seller>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary m-3 text-center" role="alert">
                <h3>Estamos en mantenimiento de la web</h3>
              </div>
            <hr>
        </div>
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Vuelve pronto !</h1>
                <br>
                <br>
                <img src="assets/logo/logo-full.png" class="navbar-logo" alt="">
                <br>
                <br>
                <h3>Muchas gracias por elegirnos, Estaremos en contacto</h3>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
