<div>
    <h2 class="m-5">{{title}}</h2>
    <div class="m-5">
        <div class="row">
            <div *ngFor="let product of productList" class="col-md-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img [src]="product.image" class="card-img-top" alt="...">
                    <div class="card-body">

                        <h4>{{product.name}}</h4>
                        <h3>${{product.price}}</h3>
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-outline-primary full-width"
                                    (click)="goRegister()">Al carrito</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary full-width"
                                    (click)="goRegister()">Comprar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>