#select{
    cursor: pointer;
}

.row-design-content{
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.card-design-image{
    padding: 15%;
    padding-bottom: 10%;
    border-bottom: 1.2px solid #BBBBBB;
}

.card-design-text-container{
    padding-left: 3%;
    padding-right: 3%;
}

.card-design-text-primary{
    color: #777;
    font-size: 24px;
}

.card-design-text-secondary{
    color: black;
    font-size: 24px;
}

.card-design-col-adjust-btn{
    margin: 0.5%;
}

.btn-size-container{
    height: 90%;
    padding: 5%;
}

.card-design-img-button{
    font-size: 18px;
    padding-right: 5%;
}

.btnToBuy{
    width: 105px;
    height: 40px;
}