<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Perfil de usuario</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Foto de perfíl</li>
                        <li class="list-group-item">Nombres: </li>
                        <li class="list-group-item">Apellidos: </li>
                        <li class="list-group-item">Foto de perfíl</li>
                        <li class="list-group-item">Correo: </li>
                        <li class="list-group-item">Tipo de cuenta:</li>
                        <li class="list-group-item">Modo:</li>
                        <li class="list-group-item"><button class="btn btn-outline-primary full-width">Editar</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>