<app-navbar></app-navbar>

<div class="card" style="width: 90rem;">
    <div class="card-body info-content-profile">
        <div class="row" style="justify-content: center;">
            <div class="col-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Foto</th>
                            <td><img src="assets/img/products/jacket.png" width="100px"></td>
                        </tr>
                        <tr>
                            <th>Nombres</th>
                            <td>Mark</td>
                        </tr>
                        <tr>
                            <th>Apellidos</th>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <th>Correo</th>
                            <td>Larry</td>
                        </tr>
                        <tr>
                            <th>Celular</th>
                            <td>(+57) 320-516-85</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="justify-content: center;">
            <div class="col-4">
                <button class="btn btn-outline-primary full-width">Editar</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>