<app-navbar></app-navbar>

<div class="card" style="width: 90rem;">
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Foto</th>
                    <td><img src="assets/img/products/jacket.png" width="100px"></td>
                    <td><button class="btn btn-outline-primary full-width">Editar</button></td>
                        
                </tr>
                <tr>
                    <th scope="row">Nombres</th>
                    <td>Mark</td>
                    <td><button class="btn btn-outline-primary full-width">Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">Apellidos</th>
                    <td>Jacob</td>
                    <td><button class="btn btn-outline-primary full-width">Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">Correo</th>
                    <td>Larry</td>
                    <td><button class="btn btn-outline-primary full-width">Editar</button></td>
                </tr>
                <tr>
                    <th scope="row">Celular</th>
                    <td>(+57) 320-516-85</td>
                    <td><button class="btn btn-outline-primary full-width">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>