<div class="wrapper">
    <div class="card col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div>
            <img src="assets/logo/logo-full.png" class="navbar-logo mx-auto d-block mt-3">
        </div>
        <h2 class="text-center m-5">Continuar como</h2>
        <div class="card-body">
            <button (click)="goBuyer()" type="submit" class="btn btn-outline-primary full-width mb-3"> Comprador</button>
            <button routerLink="/seller-form"  type="submit" class="btn btn-outline-primary full-width mb-3"> Vendedor</button>
        </div>
    </div>
</div>