<app-nav-seller></app-nav-seller>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary m-3" role="alert">
                <h4 class="text-center">Modo vendedor</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                
                <div class="row row-design-content">
                    <div (click)="goNavigate(i)" id="select" *ngFor="let opt of options; let i = index"
                        class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="card m-3" style="display: inline-block; background: #FFFFFF; width: 90%;">
                            <img [src]="opt.img" class="card-img-top card-design-image" width="200" height="200" alt="szs" style="display: block;">
                            <div class="card-body"> 
                                <hr>
                                <div class="card-design-text-container">
                                    <h6 id="trunk-text" class="card-design-text-primary text-center">{{opt.text}}</h6>
                                </div>

                                <hr>
                                <div style="text-align: center; justify-content: center;">
                                    <div class="m-2">
                                        <div class="row">
                                            <div class="col-6">
                                                {{opt.c1.txt1}}
                                            </div>
                                            <div class="col-6">
                                                <h5><span class="badge badge-secondary">{{opt.sales}}</span></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                {{opt.c1.txt2}}
                                            </div>
                                            <div class="col-6">
                                                <h5><span class="badge badge-secondary">{{opt.followers}}</span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
