


<div class="wrapper">
    <div class="card" style="width: 25rem;">
        <img src="assets/logo/logo.png" class="login-logo">
        <div class="card-body">
            <h5 class="card-title">Iniciar sesión</h5>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>
                <button type="submit" class="btn btn-primary full-width" (click)="goLogin()">Iniciar sesión</button>
            </form>
            <br>
            <div class="full-width center-text">
                <u>
                    <a href="">Olvidé mi contraseña</a>
                </u>
            </div>
            <hr>
            <div class="full-width center-text">
                <u>
                    <a href="">Aún no tengo una cuenta</a>
                </u>
                <br>
            </div>
        </div>
    </div>
</div>