<div>
    <app-product-ofert></app-product-ofert>

    <h2 class="m-5">Recomendados</h2>
    <div class="m-5">
        <div class="row">
            <div *ngFor="let product of [1,1,1,1]"  class="col-3">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      
                      <p class="card-text">This card has suppor</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      <div class="row">
                          <div class="col-6">
                            <button type="submit" class="btn btn-outline-primary full-width" (click)="goRegister()">Al carrito</button>
                          </div>
                          <div class="col-6">
                            <button type="submit" class="btn btn-primary full-width" (click)="goRegister()">Comprar</button>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
