<div class="wrapper">
    <div class="card" style="width: 25rem;">
        <h4 class="text-center m-5">Registro</h4>
        <div class="card-body">
            <form (ngSubmit)="saveData(form)" #form="ngForm" novalidate="">
                <div>
                    <input type="text" name="" required>
                    <label for="">Nombres</label>
                </div>
                <div>
                    <input type="text" name="" required>
                    <label for="">Apellidos</label>
                </div>
                <div>
                    <input type="email" name="" required>
                    <label for="">Correo</label>
                </div>
                <div>
                    <input type="password" name="" required>
                    <label for="">Contraseña</label>
                </div>
                <button type="submit" class="btn btn-primary full-width" [disabled]="!form.valid" (click)="goRegister()">Registrarme</button>
            </form>
        </div>
    </div>
</div>