<div class="wrapper">
    <div class="card col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="card-body">
            <h5 class="card-title text-center">Registro</h5>
            <form (ngSubmit)="goRegister(formData)" #formData="ngForm" novalidate="">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombres</label>
                    <input type="text" class="form-control" name="txtNames"  #txtNames="ngModel" [(ngModel)]="userDB.names" required>
                    <div *ngIf="txtNames.errors?.required" class="txt-invalid">
                        Campo requerido
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Apellidos</label>
                    <input type="text" class="form-control" name="txtLastNames" #txtLastNames="ngModel" [(ngModel)]="userDB.lastnames" required>
                    <div *ngIf="txtLastNames.errors?.required" class="txt-invalid">
                        Campo requerido
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Correo electrónico</label>
                    <input type="email" class="form-control" #txtEmail="ngModel"
                    pattern="^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"  name="txtEmail" [(ngModel)]="userDB.mail" required>
                    <div *ngIf="txtEmail.errors?.pattern" class="txt-invalid">
                        Correo no válido
                    </div>
                    <div *ngIf="txtEmail.errors?.required" class="txt-invalid">
                        Campo requerido
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" name="txtPass"  #txtPassword="ngModel" [(ngModel)]="userDB.password" required>
                    <div *ngIf="txtPassword.errors?.required" class="txt-invalid">
                        Campo requerido
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirmar contraseña</label>
                    <input type="password" class="form-control" name="txtConfirmPass" #txtPasswordConfirm="ngModel" [(ngModel)]="userDB.confirmpass" required>
                    <div *ngIf="txtPasswordConfirm.errors?.required" class="txt-invalid">
                        Campo requerido
                    </div>
                </div>
                <button type="submit" class="btn btn-primary full-width" [disabled]="!formData.valid"
                    (click)="goRegister(formData)">Registrarme</button>
                Al registrarme acepto los terminos y condiciónes de Geminis
            </form>
        </div>
    </div>
</div>