<div class="wrapper">
    <div class="card" style="width: 25rem;">
        <img src="assets/logo/logo.png" class="login-logo">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputUserName">Nombre Usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" minlength="6" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary full-width" (click)="goRegister()">Registrarme</button>
            </form>
        </div>
    </div>
</div>