<app-navbar></app-navbar>
<div id="car-bg" class="container">
    <div class="row">
        <div class="col-xl-12 m-3">
            <button style="color: #FFFFFF;" type="submit" class="btn btn-outline-primary full-width"
                routerLink="/dashboard">Agregar más
                productos</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xl-8">
            <div *ngFor="let product of CarList" class="card m-3">
                <div class="card-title m-2" style="color: blue;">
                    <h2 class="text-center">Producto: {{product.name}}</h2>
                </div>
                <div class="card-title m-2" style="color: blue;">
                    <h2 class="text-center">Precio: ${{product.price}}</h2>
                </div>
                <div class="card-body centrar">
                    <img class="m-3 centrar" [src]="product.image" width="170px">
                    <button class="btn btn-outline-primary full-width" (click)="deleteProduct(product)">Eliminar
                        producto</button>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card m-3">
                <div class="card-title">
                    <div *ngIf="CarList.length!=0" class="m-2">
                        <h3>Tienes: {{countProducts}} Productos</h3>
                        <h4 style="color: blue;">Pagar: ${{totalPay}} </h4>
                    </div>
                </div>
                <div class="card-title">
                    <div *ngIf="CarList.length==0" class="m-2">
                        <h3>No tienes productos aún</h3>
                    </div>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>