<app-navbar></app-navbar>
<div style="width: 95%;">
    <div *ngIf="CarList.length==0" class="col-md-6 col-xs-12">
        <h3 class="title-text-design">No tienes productos aún</h3>
    </div>
    <div *ngIf="CarList.length!=0" class="col-md-6 col-xs-12">
        <h3 class="title-text-design">Tienes: {{countProducts}} Productos</h3>
    </div>
    <div class="row" id="btn-agregar-mas">
        <div>
            <button type="submit" class="btn btn-outline-primary full-width" routerLink="/dashboard">Agregar más
                productos</button>
        </div>
    </div>
</div>

<div *ngFor="let product of CarList" class="card m-3">
    <div class="card-title" style="color: blue;">{{product.name}}</div>
    <div class="card-body">
        <img [src]="product.image" width="120px">
    </div>
</div>