.bd-header {
  background: #6dd5ed;
  width: 100%;
  height: 150px;
}
.bd-text {
  background: #0a4350;
  width: 100%;
  height: 90px;
}
#text-center {
  text-align: center;
  color: #fff;
}
#color-text {
  color: #fff;
}

.title-text-design {
  margin: 2%;
}

#btn-agregar-mas{
  justify-content: center;
  margin-bottom: 2%;
}

#table-car{
    justify-content: center;
}
