<app-navbar></app-navbar>
<div>
    <div *ngIf="CarList.length==0" class="col-md-6 col-xs-12">
        <h3 class="title-text-design">No tienes productos aún</h3>
    </div>
    <div *ngIf="CarList.length!=0" class="col-md-6 col-xs-12">
        <h3 class="title-text-design">Tienes: {{countProducts}} Productos</h3>
    </div>
</div>
<div class="row" style="justify-content: center;">
    <div class="col-8">
        <table *ngIf="CarList!=null" class="table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of CarList">
                    <th scope="row">{{product.name}}</th>
                    <td><img [src]="product.image" width="120px"></td>
                    <td><input type="number"></td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>