/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.btn-primary {
    background: #1e88e5;
}

.btn-white {
    background: #ffffff;
}

.full-width {
    width: 100%;
}

.shadow-primary {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.center-text {
    text-align: center;
}