.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #1e88e5;
}

.login-logo {
  width: 40%;
  align-self: center;
  padding: 12% 0%;
}

.txt-invalid {
  color: #1e88e5;
}
