<app-nav-seller></app-nav-seller>
<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="wrapper">
                <div id="cursor" class="card col-lg-4 col-md-6 col-sm-8 col-xs-12">

                    <div class="card-body">
                        <h5 class="card-title text-center">Añadir Productos</h5>
                        <form  #formDataP="ngForm" novalidate="">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="txtName" [(ngModel)]="productSeller.name"
                                    required #txtName="ngModel">

                                <div *ngIf="txtName.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Imagen</label>
                                <input type="text" class="form-control" name="txtFile"
                                    [(ngModel)]="productSeller.imageP" required #txtFile="ngModel">
                                <div *ngIf="txtFile.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Precio</label>
                                <input type="number" class="form-control" name="txtPrice"
                                    [(ngModel)]="productSeller.priceP" required #txtPrice="ngModel">
                                <div *ngIf="txtPrice.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Descripción</label>
                                <input type="text" class="form-control" name="txtDescription"
                                    [(ngModel)]="productSeller.descriptionProduct" required #txtDescription="ngModel">
                                <div *ngIf="txtDescription.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Categoría</label>
                                <input type="text" class="form-control" name="txtCategory"
                                    [(ngModel)]="productSeller.category" required #txtCategory="ngModel">
                                <div *ngIf="txtCategory.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Subcategoría</label>
                                <input type="text" class="form-control" name="txtSubCategory"
                                    [(ngModel)]="productSeller.subcategory" required #txtSubCategory="ngModel">
                                <div *ngIf="txtSubCategory.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>

                            <button (click)="saveProduct(formDataP)" [disabled]="formDataP.valid==false" type="submit"
                                class="btn btn-primary full-width">Agregar
                                Producto</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="wrapper">
                <div id="cursor" class="card col-lg-4 col-md-6 col-sm-8 col-xs-12">

                    <div class="card-body">
                        <h5 class="card-title text-center">Añadir Vehículos</h5>
                        <form #formDataV="ngForm" novalidate="">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Imagen</label>
                                <input type="text" class="form-control" name="txtFileV"
                                    [(ngModel)]="productSeller.imageC" required #txtFileV="ngModel">
                                <div *ngIf="txtFileV.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Marca</label>
                                <input type="text" class="form-control" name="txtBrand"
                                    [(ngModel)]="productSeller.brand" required #txtBrand="ngModel">
                                <div *ngIf="txtBrand.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Modelo</label>
                                <input type="text" class="form-control" name="txtModel"
                                    [(ngModel)]="productSeller.model" required #txtModel="ngModel">
                                <div *ngIf="txtModel.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Tipo</label>
                                <input type="text" class="form-control" name="txtType"
                                    [(ngModel)]="productSeller.typeCar" required #txtType="ngModel">
                                <div *ngIf="txtType.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Placa</label>
                                <input type="text" class="form-control" name="txtPlaca"
                                    [(ngModel)]="productSeller.placa" required #txtPlaca="ngModel">
                                <div *ngIf="txtPlaca.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Año</label>
                                <input type="number" class="form-control" name="txtYear"
                                    [(ngModel)]="productSeller.yearCar" required #txtYear="ngModel">
                                <div *ngIf="txtYear.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Precio</label>
                                <input type="number" class="form-control" name="txtPrice"
                                    [(ngModel)]="productSeller.priceC" required #txtPrice="ngModel">
                                <div *ngIf="txtPrice.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>

                            <button (click)="saveDataV(formDataV)" [disabled]="formDataV.valid==false" type="submit"
                                class="btn btn-primary full-width">Agregar
                                Vehículo</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="wrapper">
                <div id="cursor" class="card col-lg-4 col-md-6 col-sm-8 col-xs-12">

                    <div class="card-body">
                        <h5 class="card-title text-center">Añadir Inmuebles</h5>
                        <form  #formDataIn="ngForm" novalidate="">

                            <div class="form-group">
                                <label for="exampleInputPassword1">Imagen</label>
                                <input type="text" class="form-control" name="txtFileI"
                                    [(ngModel)]="productSeller.imageI" required #txtFileI="ngModel">
                                <div *ngIf="txtFileI.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Área</label>
                                <input type="text" class="form-control" name="txtArea" [(ngModel)]="productSeller.area"
                                    required #txtArea="ngModel">

                                <div *ngIf="txtArea.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Estrato</label>
                                <input type="number" class="form-control" name="txtStratum"
                                    [(ngModel)]="productSeller.stratum" required #txtStratum="ngModel">
                                <div *ngIf="txtStratum.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Antiguedad</label>
                                <input type="number" class="form-control" name="txtAntiquity"
                                    [(ngModel)]="productSeller.antiquity" required #txtAntiquity="ngModel">
                                <div *ngIf="txtAntiquity.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sector</label>
                                <input type="text" class="form-control" name="txtSector"
                                    [(ngModel)]="productSeller.sector" required #txtSector="ngModel">
                                <div *ngIf="txtSector.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Habitaciones</label>
                                <input type="text" class="form-control" name="txtRooms"
                                    [(ngModel)]="productSeller.rooms" required #txtRooms="ngModel">
                                <div *ngIf="txtRooms.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Baños</label>
                                <input type="number" class="form-control" name="txtBathrooms"
                                    [(ngModel)]="productSeller.bathrooms" required #txtBathrooms="ngModel">
                                <div *ngIf="txtBathrooms.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Parqueadero</label>
                                <input type="text" class="form-control" name="txtParking"
                                    [(ngModel)]="productSeller.parking" required #txtParking="ngModel">
                                <div *ngIf="txtParking.errors?.required" class="txt-invalid">
                                    Este campo es requerido
                                </div>

                            </div>

                            <button (click)="saveDataIn(formDataIn)" [disabled]="formDataIn.valid==false" type="submit"
                                class="btn btn-primary full-width">Agregar
                                Inmueble</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<app-footer></app-footer>